<!-- Navigation -->
<header class="header">
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if (theme.navbar_brand){ %>
          <a class="navbar-brand" href="<%- config.root %>" title="<%= config.title %>"><img src="<%- theme.navbar_brand %>" alt="<%= config.title %>"/></a>
        <% } %>
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%- config.root %>#home">Home</a></li>
          <li><a href="<%- config.root %>#about">About</a></li>
          <li><a href="<%- config.root %>#blog">Blog</a></li>
          <li><a href="<%- config.root %>#projects">Projects</a></li>
          <li><a href="<%- config.root %>#resume">Resume</a></li>
          <li><a href="<%- config.root %>#photos">Photos</a></li>
          <li><a href="<%- config.root %>#contact">Contact</a></li>
          <% if (theme.rss){ %>
            <li><a href="<%- theme.rss %>" title="RSS Feed"><i class="fa fa-rss"></i></a></li>
          <% } %>
        </ul>
      </div>
    </div>
    <!-- .container -->
  </nav>
</header>
<!-- End Navigation -->